@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #0d1117;
	height: 100vh;
	font-family: "Rubik", sans-serif;
}